<app-header-user></app-header-user>
<div id="primer-div">
  <div class="div-h1">
    <h1>
      <b>Hola, esto es Ké <br />mobile.</b>
    </h1>
  </div>

  <div class="div-h2">
    <h3>
      <b>
        Nuestra misión es que la tech sea de calidad, <br />con mejor precio y
        menos impacto.</b>
    </h3>
  </div>
</div>

<div id="segundo-div">
  <div class="div-h1">
    <h1>
      <b>
        Mejor marketplace<br />
        global para tech.</b>
    </h1>
  </div>

  <div>
    <h5 class="div-h2">
      Somos un marketplace global de productos.<br />
      Los exigentes procesos de aceptación de nuestra <br />empresa hacen que no
      se pueda vender cualquier <br />producto en esta web.
    </h5>
  </div>
  <div id="div-hr">
    <hr/>
  </div>
  <div id="otro-div"></div>
</div>
<div class="div-h1" id="tech">
  <h1 id="h1-tech">Tech premium</h1>
</div>

<div class="div-h2" id="tech-h5">
  <h5>
    Trabajamos mano a mano con los mejores vendedores <br />garantizar que cada
    producto esté en perfecto estado.
  </h5>
</div>

<app-footer></app-footer>
