<app-header-admin></app-header-admin>

      <!-- Page Content List Products-->
      <div class="container">
          <!-- Page Heading/Breadcrumbs -->
          <h1 class="mt-4 mb-3">
              KéMobile<small>Usuarios</small>
          </h1>

          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="">Home</a></li>
              <li class="breadcrumb-item active">Ver Usuarios</li>
          </ol>

          <h2>Usuarios</h2>
          <table class="table">
              <thead>
                  <tr>
                      <th>Código</th>
                      <th>Username</th>
                      <th>Nombre</th>
                      <th>Apellidos</th>
                      <th>Email</th>
                      <th>Dirección</th>
                      <th>Eliminar</th>
                  </tr>
              </thead>
              <tbody *ngFor="let p of users">
                  <tr>
                      <td>{{p.id}}</td>
                      <td>{{p.username}}</td>
                      <td>{{p.firstName}}</td>
                      <td>{{p.lastName}}</td>
                      <td>{{p.email}}</td>
                      <td>{{p.address}}</td>
                      <td><button class="btn btn-danger" (click)="deleteUserById(p.id)">Eliminar</button>
                  </tr>
              </tbody>
          </table>
      </div>
<app-footer></app-footer>
