/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';


#bienvenida {

  margin-top: 50px;
  margin-bottom: 50px;
}

 .product-box img {
  width: 250px;
  padding-bottom: 50px;
}

.product-show{
  padding-bottom: 20px;
}

a.primary-btn:hover{
  background:#0da8e4;
  color:#fff
}

.price{
  margin:15px 0 0;
  font-weight:800;

}

.product-box h2{
  font-size:18px;
  padding-bottom:0;
  font-weight:500;
  color:#585858
}
